@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.background-rectangle {
    background-color: #b99963;
    height: 30px;
}

#navbar {
    background: white;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

#navbar #logo img {
    margin-right: auto;
    height: 200px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 24px;
}

#navbar a:hover {
    border-bottom: 4px solid #b99963;
}

#navbar .cta-button {
    background-color: #b99963;
    color: white;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-left: 45px;
    margin-right: 10px;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

#side-by-side-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

#side-by-side-container .image-container,
#side-by-side-container .text-container {
    flex: 1;
}

#side-by-side-container .image-container img {
    width: 100%;
}

#side-by-side-container h2 {
    font-size: 60px;
    margin-bottom: 12px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#side-by-side-container p {
    font-size: 20px;
}

.single-column2 {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.single-column2 h1 {
    color: #b99963;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.single-column2 h1, 
h3, 
p {
    text-align: center;
}

.menu-container {
    background-color: rgb(255, 255, 255);
    padding: 48px 0px;
}

hr {
    border-top: 3px solid #b99963;
    text-align: center;
    justify-items: center;
}

#dessert-title {
    text-align: center;
    color: #b99963;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#card-container {
    display: flex;
    gap: 36px;
}

.card {
    background-color: #b99963;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
}

.card h3 {
    font-size: 25px;
    margin: 5px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
    color: white;
}

#footer {
    background: #b99963;
    color: white;
    padding: 12px;
}

#footer a {
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}