* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.background-rectangle {
    background-color: #b99963;
    height: 30px;
}

#navbar {
    background: white;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

#navbar #logo img {
    margin-right: auto;
    height: 200px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 24px;
}

#navbar a:hover {
    border-bottom: 4px solid #b99963;
}

#navbar .cta-button {
    background-color: #b99963;
    color: white;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-left: 45px;
    margin-right: 10px;
}

#hero-2 {
    background-image: url("../images/PPG_hero.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#single-column {
    width: 50vw;
    max-width: 1200px;
    margin: 0px auto;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px 300px 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.205);
}

.card a {
    background-color: #b99963;
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
    margin-top: 36px;
}

#card2 a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card2:hover a {
    background-color: #b99963;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card2 .card-content img {
    width: 300px;
}

#footer {
    background: #b99963;
    color: white;
    padding: 12px;
}

#footer a {
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}