* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* GRID CONTAINER */

#grid-container {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-areas: 
        "header header header"
        "col1 col2 col3";
    padding: 24px;
}

#header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#col1 {
    grid-area: col1;
    padding: 24px;
}

#col2 {
    grid-area: col2;
    padding: 24px;
    min-width: 800px;
}

#col3 {
    grid-area: col3;
    padding: 24px;
}

/* HEADER CONTAINER */

.logo {
    max-width: 150px;
    padding: 15px;
}

.nav-menu {
    font-size: 12px;
    padding: 14px;
    color: lightslategray;
}

.search {
    min-width: 300px;
    width: 65%;
    background-color: white;
    border: 2px solid black;
    border-radius: 24px;
    margin: 0px 10px;
    padding: 10px 20px;
}

.search-cta {
    min-width: 150px;
    background-color: white;
    border: 1px solid #3665f3;
    color: #3665f3;
    border-radius: 24px;
    margin: 0px 10px;
    padding: 10px 15px;
    text-align: center;
}

#header span.search-cta:hover {
    background-color: #3665f3;
    color: white;
}

#header span.search:hover {
    background-color: rgb(223, 223, 223, 0.75);
}

#advanced {
    font-size: 14px;
    color: lightslategray;
    margin-left: 10px;
}

/* THUMBNAIL CONTAINER */

#thumbnails {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px 0px;
}

.selected-thumbnail {
    border: 2px solid black;
}

/* PHOTO CONTAINER */

#full-image {
    text-align: center;
    background-color: #faf5f1;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}

#product-one {
    width: 80%;
}

/* PRODUCT INFO CONTAINER */

#brand-info {
    display: grid;
    grid-template-columns: 50px 2fr;
    grid-template-areas: 
        "profile-pic brand-name"
        "profile-pic brand-details";
}

#profile-pic {
    grid-area: profile-pic;
    max-width: 30px;
    border-radius: 50%;
}

#brand-name {
    grid-area: brand-name;
    margin: 2px;
}

#brand-details {
    grid-area: brand-details;
    font-size: 11px;
}

#brand-details span {
    margin: 0px 5px;
}

#brand-details a {
    color: lightslategray;
}

#dropdown-menus {
    margin: 30px 0px;
}

.dropdown {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 250px;
    padding: 10px;
    margin: 5px;
}

#dropdown-menus div:hover {
    background-color: rgb(223, 223, 223, 0.75);
}

#quantity {
    margin: 20px 0px;
}

.input-box {
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;

}

#buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.buy-button {
    background-color: white;
    border: 1px solid #3665f3;
    border-radius: 24px;
    font-size: medium;
    min-height: 48px;
    min-width: 250px;
    margin: 5px;
    padding: 5px;
}

.primary-button {
    background-color: #3665f3;
    color: white;
}

#buttons button:hover {
    background-color: rgb(223, 223, 223, 0.75);
}

#buttons button.primary-button:hover {
    background-color: white;
    color: #3665f3;
}