* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph {
    color: rgb(128, 0, 128);
    background-color: rgb(232, 198, 4);
    font-style: italic;
    text-align: center;
}

#second-paragraph {
    color: #3e089b;
    background-color: coral;
    font-size: 24px;
    text-decoration: underline;
}

#bold-paragraph {
    font-weight: bold;
    background-color: palegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#span1 {
    color: crimson;
    font-weight: bold;
    font-size: 48px;
}

#span2 {
    font-style: italic;
    text-decoration: line-through;
}

#span3 {
    background-color: yellow;
}

#span4 {
    text-align: right;
}