/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1 {
    max-width: 350px;
    box-shadow: -4px 4px 12px #000000ab;
    background-color: rgb(216, 241, 216);
    margin: 16px;
}


.card-style-1 img {
    width: 100%;
}

.card-style-1 a {
    color: rgb(255, 255, 255);
    padding: 24px;
    text-decoration: none;
    font-size: 20px;
    background-color: green;
    display: block;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s;
}

.card-style-1 a:hover {
    opacity: .9
}

.card-style-1 h2,
.card-style-1 p{
    padding: 0px 24px;
}