/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    border: 2px solid black;
    width: 700px;
    border-radius: 20px;
    padding: 24px;
}

#license #content #left-side {
    display: inline-block;
    width: 65%;
    border: 3px solid red;
}

#right-side img {
    width: 100%;
}

#donor,
#real-id {
    display: inline-block;
}

#id-and-expiration #address #personal-info {
    display: inline-block;
}