* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url(../images/Layers\ of\ Depth\ Exercise\ 3_MLee.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

#hero .hero-content {
    position: absolute;
    top: 11%;
    left: 15%;
}

#hero h2 {
    color: white;
    font-size: 120px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.545);
    margin-bottom: 0px;
}

#hero a {
    color: rgb(75, 3, 26);
    text-decoration: none;
    font-size: 50px;
    padding: 15px;
    text-align: center;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.195);
    margin-top: 0px;
    font-weight: bold;
    display: block;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 10px;
    padding: 20px;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
}


.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

.card {
    width: 350px;
    padding: 10px;
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.442);
    background-color: rgb(255, 0, 81);
    display: flex;
    flex-direction: column;
}

.card h2 {
    color: white;
    font-family: "Sedgwick Ave", cursive;
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

.card a {
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
