* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #ffb144, #fb7c06);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #ffb144, #fb7c06);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #fb7c06;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #ffb144;
}

#hero-4 {
    background-image: url("../images/narutoandkurama.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 110px;
}

#hero-4 h2 {
    font-size: 72px;
    margin-bottom: 10px;
    color: rgb(30, 29, 29)
}

#hero-4 h4 {
    font-size: 20px;
    margin: 0px;
    color: rgb(30, 29, 29);
}

#hero-4 a {
    font-size: 14px;
    display: inline-block;
    background-color: rgb(30, 29, 29);
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 10px;
    transition: 0.5s;
}

#hero-4 a:hover {
    background-color: #fb7c06;
    transform: translateY(0px);
}